<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xuehai.dao.AnswerMapper">
  <resultMap id="BaseResultMap" type="xuehai.model.Answer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user" jdbcType="BIGINT" property="user" />
    <result column="question" jdbcType="BIGINT" property="question" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="xuehai.model.Answer">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user, question, time, modified_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from answer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from answer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xuehai.model.Answer">
    insert into answer (id, user, question, 
      time, modified_time, content
      )
    values (#{id,jdbcType=BIGINT}, #{user,jdbcType=BIGINT}, #{question,jdbcType=BIGINT}, 
      #{time,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="xuehai.model.Answer">
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user != null">
        #{user,jdbcType=BIGINT},
      </if>
      <if test="question != null">
        #{question,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xuehai.model.Answer">
    update answer
    <set>
      <if test="user != null">
        user = #{user,jdbcType=BIGINT},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xuehai.model.Answer">
    update answer
    set user = #{user,jdbcType=BIGINT},
      question = #{question,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xuehai.model.Answer">
    update answer
    set user = #{user,jdbcType=BIGINT},
      question = #{question,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSelective" parameterType="xuehai.model.Answer" resultMap="ResultMapWithBLOBs">
    SELECT <include refid="Base_Column_List"/> , <include refid="Blob_Column_List"/>
    FROM answer
    WHERE  1=1
    <trim prefix="  " suffix=" ">
      <if test="id != null">
       AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="user != null">
       AND user =  #{user,jdbcType=BIGINT}
      </if>
      <if test="question != null">
      AND question =  #{question,jdbcType=BIGINT}
      </if>
      <if test="time != null">
       AND time = #{time,jdbcType=TIMESTAMP}
      </if>
      <if test="modifiedTime != null">
       AND modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
      </if>
      <if test="content != null">
       AND content LIKE #{content,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </select>
  <delete id="deleteByQuestionId" parameterType="java.lang.Long">
    DELETE
    FROM answer WHERE question = #{questionId}
  </delete>

  <select id="getAnswerNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*)
    from answer where user = #{userId}
  </select>
</mapper>