<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xuehai.dao.LikeMapper">
  <resultMap id="BaseResultMap" type="xuehai.model.Like">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user" jdbcType="BIGINT" property="user" />
    <result column="answer" jdbcType="BIGINT" property="answer" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user, answer, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from like
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from like
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xuehai.model.Like">
    insert into like (id, user, answer, 
      time)
    values (#{id,jdbcType=BIGINT}, #{user,jdbcType=BIGINT}, #{answer,jdbcType=BIGINT}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="xuehai.model.Like">
    insert into like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user != null">
        #{user,jdbcType=BIGINT},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xuehai.model.Like">
    update like
    <set>
      <if test="user != null">
        user = #{user,jdbcType=BIGINT},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xuehai.model.Like">
    update like
    set user = #{user,jdbcType=BIGINT},
      answer = #{answer,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSelective" parameterType="xuehai.model.Like" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `like`
    where 1=1
    <trim prefix=" " suffix=" ">
      <if test="id != null">
       AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="user != null">
      AND user =  #{user,jdbcType=BIGINT}
      </if>
      <if test="answer != null">
      AND answer =  #{answer,jdbcType=BIGINT}
      </if>
      <if test="time != null">
      AND time = #{time,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </select>

  <delete id="deleteByQuestionId" parameterType="java.lang.Long">
    DELETE
    FROM `like`
    WHERE answer in (SELECT id FROM answer WHERE question = #{questionId})
  </delete>

  <delete id="deleteByAnswerId" parameterType="java.lang.Long">
    DELETE
    FROM `like`
    WHERE answer = #{answerId}
  </delete>

  <select id="getLikedNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `like` WHERE `like`.answer in (SELECT id FROM answer WHERE answer.user = #{usreId})
  </select>

  <select id="getAnswerLikedNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `like` WHERE answer = #{answerId}
  </select>
</mapper>