<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xuehai.dao.UserMapper">
  <resultMap id="BaseResultMap" type="xuehai.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="authority" jdbcType="SMALLINT" property="authority" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

  <resultMap id="TimeLine" type="xuehai.vo.TimeLine">
    <result property="content1Id" column="content1_id" jdbcType="BIGINT"/>
    <result property="content1" column="content1" jdbcType="VARCHAR"/>
    <result property="content2Id" column="content2_id" jdbcType="BIGINT"/>
    <result property="content2" column="content2" jdbcType="VARCHAR"/>
    <result property="content3Id" column="content3_id" jdbcType="BIGINT"/>
    <result property="content3" column="content3" jdbcType="VARCHAR"/>
    <result property="contentType" column="content_type" jdbcType="INTEGER"/>
    <result property="time" column="time" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, salt, email, authority, sex, profile, school, major, time, 
    modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xuehai.model.User">
    insert into user (id, username, password, 
      salt, email, authority, 
      sex, profile, school, 
      major, time, modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{authority,jdbcType=SMALLINT}, 
      #{sex,jdbcType=TINYINT}, #{profile,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="xuehai.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="profile != null">
        profile,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=SMALLINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xuehai.model.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=SMALLINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xuehai.model.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=SMALLINT},
      sex = #{sex,jdbcType=TINYINT},
      profile = #{profile,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectSelective" parameterType="xuehai.model.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where 1=1
    <trim prefix=" " suffix=" ">
      <if test="id != null">
        AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="username != null">
        AND username =  #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="salt != null">
        AND salt =  #{salt,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="authority != null">
        AND authority =  #{authority,jdbcType=SMALLINT}
      </if>
      <if test="sex != null">
        AND sex = #{sex,jdbcType=TINYINT}
      </if>
      <if test="profile != null">
        AND sprofile = #{profile,jdbcType=VARCHAR}
      </if>
      <if test="school != null">
        AND school = #{school,jdbcType=VARCHAR}
      </if>
      <if test="major != null">
        AND major =  #{major,jdbcType=VARCHAR}
      </if>
      <if test="time != null">
        AND time = #{time,jdbcType=TIMESTAMP}
      </if>
      <if test="modifiedTime != null">
        AND modified_time =  #{modifiedTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </select>
  <delete id="deleteUserByUserId" parameterType="java.util.Map" statementType="CALLABLE">
    {
        call sp_DeleteUser(
          #{id,mode=IN,jdbcType=BIGINT}
        )
    }
  </delete>

  <select id="getTimeLine" parameterType="java.util.Map" statementType="CALLABLE" resultMap="TimeLine">
    {
      call sp_GetTimeline(
        #{user_id, mode=IN, jdbcType=BIGINT},
        #{index_num, mode=IN, jdbcType=INTEGER},
        #{number, mode=IN, jdbcType=INTEGER}
      )
    }
  </select>
</mapper>